<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: rgb(62, 61, 61);
            color: azure;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        form {
            margin-top: 20px;
        }
        label, input, button {
            display: block;
            margin: 10px 0;
        }
        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.04s;
        }
        button:hover {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }
        table{
            width: 50%;
            /* table-layout: fixed; */
        }
        td{
            padding: 10px;
            word-wrap: break-word;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 >URL Shortener</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:8001/<%= id %></p>
    <% } %>
     
    <div>
        <form method="POST" action="/url">
            <label for="url">Enter Your URL</label>
            <input type="text" id="url" name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div class="tbl">
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>ShortId</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url,index) => { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectUrl %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>
